---
layout: main
---

{% include "nav.njk" %}

<h1 class="text-5xl md:text-6xl font-black pt-10 md:pt-30 pb-4 leading-tight">
    {{ title}}
</h1>

<div>
    <em>{{ date | postDate }}</em>
</div>

<img src="/assets/img/{{thumb}}.jpg" alt="{{releasetitle}} cover art" class="pb-4">

<div class="prose prose-xl prose-main dark:prose-invert prose-a:text-blue-600 prose-a:underline hover:prose-a:text-pink-600 leading-loose pb-36">
  {{ content | safe }}
</div>

{# {% include "author.njk" %} #}